*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    padding-left: 200px;
    
    
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,100px);
    background-color: rgb(81, 79, 77);
    border-radius: 10px;
    
    
    
}
#cl{
    background-color: aqua;
}
#display{
    grid-column: span 4;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 50px;

    font-size: 24px;
    border-radius: 10px;
    text-align: end;
    padding: 10px;
    
   
}
#equal{
    grid-column: span 2;
}
button{
    height: 40px;
    border-radius: 5px;
    font-size: medium;
     padding: 10px; 
     margin: 5px; 
     /* border: none; */
     


}