/* .ani{
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    margin: 150px auto;
    transition-duration: 2s;       /*seconds in mouse */

/* transition-property: width; */
/* transition-delay: 3ms; */
/* transition-timing-function:  ease-in; */

/* ease-in = slow-fast
ease-out=fast-slow
ease-in-out=slow fast slow //

transition: 2s 2s ease-in-out;

}



.ani:hover{
    background-color: red;
    width: 200px;
   /* transform: rotate(360deg); *
    transform: translate(-200px,100px);   // move the (-) values means left side move && (100px)values means right side move//
}  */





 .ani{
     width: 100px;
    height: 100px; 
    background-color: rgb(51, 167, 22);
    animation-name: ani;
    animation-duration: 5s;
    /* border-radius: 50px; */
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    position: relative;
    border-radius: 50px; 

}
@keyframes ani {
    100%{
         width: 150px;
        height: 150px; 
        background-color:brown ;
        left: 700px;
        top: 150px;
    
        border-radius: 100px;
    }

    50%{
        /* width: 100px;
        height: 100px; */
        background-color: black;
        top: 200px;
        left: 400px;
        border-radius: 50px;
    }

    0%{
        /* width: 150px;
        height: 150px; */
        background-color: pink;
        top: 200px;
         left: 200px;
         border-radius: 50px;
    }
}

