
table{
    width:300px;
    height: 250px;
    border: 2px solid rgb(44, 43, 43);
    margin: auto; 
    margin-top: 40px;
    border-collapse: collapse;
   

} 

.class{
    
    
     width: 40px; 
     height: 40px; 
    background-color: black;
   
} 
.black{
     width: 40px;
    height: 40px; 
    background-color: white;
   
   

}
td{
    text-align: center;
    font-size: 30px;
    color: rgb(124, 109, 111);  
} 