#color1{
    background-color: orange;
    height: 40px;
    margin-left: 300px;
    margin-right: 270px; 
    margin-top: 150px;
    /* margin: 0px 30px 20px 30px; */

}
#color2{
    background-color: white;
    height: 40px;
    margin-left: 300px;
    margin-right: 270px; 
    /* margin: 0px 30px 20px 30px; */
}
#color3{
    background-color: green;
    height: 40px;
    /* border-radius: 10px; */
    margin-left: 300px;
    margin-right: 270px; 
    /* margin: 0px 30px 0px 30px; */


}
#kk{
    align-items: center;
}