  
 /* /* Flex  */
 .container{
    display: flex; 
     flex-direction: row; 
} 

.para1{
    background-color: aqua;
    flex: 2;
}
.para2{
    background-color: pink;
    flex: 1;
}
.para3{
    background-color: blueviolet;
    flex: 2;
}
p{
    padding: 10px;
    margin: 5px;
    text-align: center;
    
} 


/* @media use this css page in   only use last content*/
 @media(min-width:700px)
 {
      .container{
            flex-direction: row;
       }

 .container p{
    background-color: rgb(11, 167, 146);
 }

} 



/* .container{
    background-color: rgb(135, 145, 145);
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
    
}


.box{
   background-color: rgb(111, 33, 189);
    width: 75px;
    height: 75px;
    border: 2px solid white;
}

.box2{
    flex-grow: 1;
    flex-shrink: 2;
} */