/* .container div{
    background-color: blueviolet;
}
.container{
    display: grid;
    
    /* grid-template-columns: 1fr 1fr 1fr ; */
     /* grid-template-columns: repeat(auto-fit, mimax(600px,1fr));  //
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: 1fr 2fr 1fr;

    /* column-gap: 10px;
    row-gap: 10px; //
    gap: 10px;
} */






 /* .container2{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
} 

.box{
    background-color: pink;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box1{
    grid-column: span 5;
}
.box2{
    grid-row: span3;
} */











.container3 div{
    border: 1px solid black;
    background-color: aqua;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}



.container3{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 70vh 10vh;
    grid-template-areas: " h h h h h"
                          "sbl m m m sb2"
                          " f f f f f ";

}

.header{
    grid-area: h;
}
.Search{
    grid-area: f;
}
.sidebar_1{
    grid-area: sb1;
}
.sidebar_2{
    grid-area: sb2;
}
.main{
    grid-area: m;
}