a{
    text-decoration: none;
}

a.link{
    color: green;
}

 /* visit the link means color change */
a:visited{
    color: red;
}
 /* move the mouse text size increase */
a:hover{
    font-size: 25px;
}


/* press  the link  color change & mostly use this tab user use this color change visible  */
a:focus{
    color:orange;
}
video{
position: fixed;


 /* top: 0%;
left: 0%; */
/* padding-top:0px; */
    width:100%;
    height:450px; 
    /* //full display cover */
    object-fit: cover;  
}
 *{
    margin: 0px;
} 


