li{
    /* list-style-type: square; */
    /* display: inline; */
    list-style-position: inside;
}
#position,ol{
    list-style: circle inside;
    
}
#ss{
     display: none; 
    /* visibility: hidden; */
}