h1{
    text-align: center;
    color: blue;
    
}

#kk{
    background-color:rgb(127, 127, 219);
    border-radius: 5px;
    width: 60px;
    height: 30px;


}

#vv{
    text-align: center;
    color: black;
   border: 1px rgb(126, 122, 122) solid;
   border-radius: 5px;
    margin: 20px auto;
   width: 250px;
   height: 150px;
   line-height: 30px;
    padding: 30px; 

 
}
#username{
    background-color: white(33, 122, 163);
}

body{
    background-color: aliceblue;

}
form{
    background-color: white;
} 

*{
    text-align: center;
}

