p{
 font-size: 10px;
 font-family: 'Times New Roman', Times, serif;

 font-family: cursive;

 
 color: rgb(15, 13, 15);
 text-transform: capitalize;

 text-align: justify;
 /*justify-content: center;*/
/* line-height: 40px;   
 word-spacing: 30px;
 letter-spacing: 20px;
text-decoration: underline;*/

text-shadow: 0px 8px 25px pink;
text-indent: 40px;
}

h1,h2{
    text-align: center;
    color: blue;
}
p::first-letter{
    font-size: 40px;
    color: red;
}

*{
    margin: 0px;
    padding: 0px;
}

body,h1,h2,p{
    border: 2px solid pink;
}

p{
   /* margin: 50px;*/
   margin-top: 30px;
   margin-bottom: 10px;
   margin-left: 60px;
   margin-right: 60px;
}

p{
   /* margin:30px 40px 60px ;*/
 margin: 20px auto;
 padding: 30px;
 text-align: justify;
 width: 300px;
 height: 200px;
 /* overflow: scroll; */

/* border-bottom-left-radius: 50px;
 border-top-right-radius: 50px;*/
 border-radius:20px;


 border-top-left-radius: 50px;

    border-bottom-right-radius: 50px;

    border-top-left-radius:50px ;

    /* box-shadow: -10px -10px 30px red ; */
    /*   */
    box-shadow:10px 10px 10px  yellow ,-10px -10px 10px red ;



}

body,h1{
    border: solid black;
    
}