/* .box1{
    width: 130px;
    height: 130px;
    background-color: pink;
    position: relative;
    left: 150px;
    top: 30px;
}

.box2{
    width: 50px;
    height: 50px;
    background-color: red;
    /* position: fixed; 
    position: sticky;
    top: 0px;
    left: 80px;
    bottom: 0px;
}

mark{

    background-color: rgb(0, 255, 106);
} */





/* gradient */
/* .box{
    width: 300px;
    height: 300px;
    /* background:linear-gradient( to top right, yellow,red); 
     background: radial-gradient( yellow ,blue); 
    margin:auto;
} */



html{
    font-size: 20px;
}
div{
    font-size: 30px;
}

.para1{
    background-color: rgb(29, 197, 197);
    flex:3 ;
     font-size: 0.8em; 
}

.para2{
    background-color: blueviolet;
    font-size: 2rem;
}

.box{
    width: 50vw;
    height: 40vh;
    border: 2px solid black;
} 



