  video{  
   position: absolute;
    width:100%;
    height:450px; 
    /* //full display cover */
     object-fit: cover;    
} 
.vishnu{
    width: 100%;
     height:100vh ;
     position: relative;
     padding: 0 5%;
     display: flex;
     align-items: center;
     justify-content: center;
}

/* .back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1; 
} */
*{
    margin: 0px;
     padding: 0; 
    box-sizing: border-box;
    
} 
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
 nav ul li{
    list-style: none; 
     display: inline-block; 
     margin-left: 40px;
 }

 nav ul li a{
    text-decoration:none;
    color: aqua;
    font-size: 20px;
    font-style:inherit;
 }

 .content{
    padding: 50px;
    text-align: center;
 }
 .content h1{
    /* padding: 30px; */
    font-size: 150px;
    color: rgb(25, 159, 159);
    font-weight: 300;
    transition: 0.5s;
    text-align: center;

 }
 .content h1:hover{
    -webkit-text-stroke: 2px #fff;
     color: transparent;
 }
 .content a{
    text-decoration:none;
    display: inline-block;
    color: rgb(76, 56, 18);
    font-size: 20px;
    border: 3px solid #fff;
    padding:14px 70px ;
    border-radius: 40px;
    margin-top: 40px;
 }
@media(max-aspect-ratio:16/8){
    .back-video{
        width: auto;
        height: 100%;
    }
}